<!-- <div class="container m-0 p-0">
    <div class="row mx-auto chart-container m-0 p-0">
        <highcharts-chart
        class="col-12"
        [Highcharts] = "highcharts" 
        [options] = "chartOptions" 
        style = "width: 28vw; height: 40vh; display: block; margin-top: 4vh;">
        </highcharts-chart>
    </div>
</div> -->

<!-- style = "width: 28vw; height: 40vh; display: block;" -->

<!-- <highcharts-chart
    class="col-12"
    [Highcharts] = "highcharts" 
    [options] = "chartOptions" 
    style = "width: 28vw; height: 40vh; display: block; margin-top: 4vh; @media screen and (max-width: 500px){
        width: 100vw;
    }">
</highcharts-chart> -->

<div class="m-0 p-0">
    <div class="row mx-auto chart-container m-0 p-0">
        <highcharts-chart
        id="chart-half"
        class="col-12"
        [callbackFunction]="chartCallback"
        [Highcharts] = "highcharts" 
        [options] = "chartOptions" 
        >
        </highcharts-chart>
    </div>
</div>