<!-- <div class="container m-0 p-0">
    <div class="row mx-auto chart-container m-0 p-0">
        <highcharts-chart
        class="col-12"
        [Highcharts] = "highcharts" 
        [options] = "chartOptions"
        style = "width: 28vw; height: 40vh; display: block; margin-top: 4vh;"
         >
        </highcharts-chart>
    </div>
</div>

style = "width: 28vw; height: 40vh; display: block;" -->

<highcharts-chart
        class="col-12"
        [Highcharts] = "highcharts" 
        [options] = "chartOptions"
        style = "width: 28vw; height: 40vh; display: block; margin-top: 4vh;"
         >
</highcharts-chart>