#eps_chart_div {
    margin-top: 4vh;
}

.chart-container {
    width: fit-content;
    margin:0px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4vh;
}

#chart-half{
    width:30vw;
    height: 400px;
    margin-top: 4vh;
}

@media screen  and (max-width: 600px){
    #chart-half{
    width: 80vw;
    margin-top: 4vh;
    }
}

/* .highcharts-background {
    width:27vw;
    height: 400px;
    @media screen  and (max-width: 600px){
        width: 90vw;
    }
} */

/* #chart_control {
    margin-top: 4vh;
} */