.stock_tabs {
   margin-top: 3vh;
   text-align: center;
}

#stock_main_details1 {
    text-align: left;
}

#stock_main_details2 {
    text-align: center;
}

#stock_main_details3 {
    text-align: right;
}

#stock_main_detail {
    margin-top: 5vh;
}

#stock_main_details1_company_buttons {
    margin-top: 1vh;
}

#stock_main_buy_button{
    /* background-color: #26A645; */
    /* color: #fff; */
    margin-right: 0.25vh;
}

#stock_results_loader_div {
    margin-top: 5vh;
}

.no_data_for_ticker {
    margin-top: 4vh;
    text-align: center;
}

#star_button {
    border: none;
    background-color: none;
}

.checked {
    color: orange;
  }

span.star_symbol {
    cursor: pointer;
    font-size: 3vh;
    text-align: top;
}

#stock_main_details1_company_ticker {
    font-size: 3vh;
    font-weight: bold;
}

#stock_main_details1_company_name {
    color: gray;
    font-size: 2.2vh;
    margin-top: 1vh;
    font-weight: bold;
}

#stock_main_details1_company_exchange {
    font-size: 1.7vh;
    margin-top: 1vh;
}

#stock_main_details3_price {
    font-size: 3vh;
    font-weight: bold;
}

#stock_main_details3_price_change {
    font-size: 2.2vh;
    margin-top: 1vh;
    font-weight: bold;
}

#stock_main_details3_price_timestamp {
    margin-top: 1vh;
    font-size: 2vh;
}

#market_status_div {
    text-align: center;
    font-weight: bold;
    margin-top: 2vh;
}

