.selected_button:focus {
    background-color: #2224AB;
    border: 10px;
}

.navbar_header {
    color: #fff;
    text-align: center;
    align-items: center;
    padding-left: 1rem;
}

.selected_a {
    color: gray;
    text-align: center;
    align-items: center;
}

.selected_a:focus {
    color: #fff;
    border: 0.2vh solid;
    border-radius: 2vh;
}

.selected_a:active {
    color: #fff;
}


.nav-link {
    text-align: right;
}