<div class="price_summary">
    <!-- <div class="row">
        <div class="col-6 key_element">
            High Price: 
        </div>
        <div class="col-6 value_element">
            61.24
        </div>  
    </div>
    <div class="row">
        <div class="col-6 key_element">
            Low Price: 
        </div>
        <div class="col-6 value_element">
            53.5
        </div>  
    </div>
    <div class="row">
        <div class="col-6 key_element">
            Open Price: 
        </div>
        <div class="col-6 value_element">
            54.24
        </div> 
    </div>
    <div class="row">
        <div class="col-6 key_element">
            Prev. Close: 
        </div>
        <div class="col-6 value_element">
            57.53
        </div> 
    </div>   -->

    <div><span><b>High Price:</b> {{price_summary_details.high_price}}</span></div>
    <div><span><b>Low Price:</b> {{price_summary_details.low_price}}</span></div>
    <div><span><b>Open Price:</b> {{price_summary_details.open_price}}</span></div>
    <div><span><b>Prev. Close:</b> {{price_summary_details.prev_close}}</span></div>

</div>