<div class="row d-flex justify-content-center">
    <div class="rounded rounded-pill mb-4 col-lg-4 col-sm-6 col-10 " style="background-color: #F8F9FA; border: 2px solid; border-color: #2224AB; padding-left: 1rem; padding-right: 1rem; padding-top: 0.5rem; padding-bottom: 0.5rem;">
        <div class="input-group input_container" style="background-color: #F8F9FA;">
             <!-- <input type="text" placeholder="Enter stock ticker symbol" aria-describedby="button-addon1" class="form-control border-0 bg-light shadow-none"> -->
             
            <input id="search_box_ip" (keydown.enter)="show_results()" matInput placeholder="Enter stock ticker symbol" ngModel={{selected_ticker}} [matAutocomplete]="auto" [formControl]="ticker_value" class="form-control border-0 bg-light shadow-none ip_box">
        
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelected()" [displayWith]="displayWith">
                <mat-option *ngIf="isLoading" class="is-loading"><mat-spinner [diameter]="40"></mat-spinner></mat-option>
                <ng-container *ngIf="!isLoading">
                    <mat-option *ngFor="let ticker of filtered_tickers" [value]="ticker">
                    <span><b>{{ticker.symbol}}</b> &#124; {{ticker.description}}</span>
                    </mat-option>
                </ng-container>
            </mat-autocomplete>
             <div class="input-group-append" >
                <button id="button-addon1" class="btn shadow-none" style="color: #2224AB; background-color: #F8F9FA;" (click)="show_results()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search shadow-none" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </button>
                <button id="button-addon2" class="btn shadow-none" style="color: #2224AB; background-color: #F8F9FA;" (click)="clear_results()" routerLink="/search/home">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg shadow-none" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
                        <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
                      </svg>
                </button>
            </div>

            


        </div>

        <!-- <mat-form-field appearance="standard" >
            <input id="search_box_ip" (keydown.enter)="show_results()" matInput placeholder="Enter stock ticker symbol" ngModel={{selected_ticker}} [matAutocomplete]="auto" [formControl]="ticker_value" class="form-control border-0 bg-light shadow-none ip_box">
            
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelected()" [displayWith]="displayWith">
                <mat-option *ngIf="isLoading" class="is-loading"><mat-spinner [diameter]="40"></mat-spinner></mat-option>
                <ng-container *ngIf="!isLoading">
                  <mat-option *ngFor="let ticker of filtered_tickers" [value]="ticker">
                    <span><b>{{ticker.symbol}}</b> &#124; {{ticker.description}}</span>
                  </mat-option>
                </ng-container>
            </mat-autocomplete>
            <div matSuffix>

                <button class="btn shadow-none" style="color: #2224AB; background-color: #F8F9FA;" (click)="show_results()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search shadow-none" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                </button>

                <button id="button-addon2" class="btn shadow-none" style="color: #2224AB; background-color: #F8F9FA;" (click)="clear_results()" routerLink="/search/home">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg shadow-none" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M13.854 2.146a.5.5 0 0 1 0 .708l-11 11a.5.5 0 0 1-.708-.708l11-11a.5.5 0 0 1 .708 0Z"/>
                        <path fill-rule="evenodd" d="M2.146 2.146a.5.5 0 0 0 0 .708l11 11a.5.5 0 0 0 .708-.708l-11-11a.5.5 0 0 0-.708 0Z"/>
                    </svg>
                </button>
            </div>
            

        </mat-form-field> -->

    </div>
</div>

<div class="row d-flex justify-content-center no_data_for_ticker" *ngFor="let alert of alerts">
    <ngb-alert class="col-lg-8 col-sm-8 col-10" [type]="alert.type" (closed)="close(alert)" [dismissible]="alert.dismissible">{{ alert.message }}</ngb-alert>
</div>