<div class="social_sentiments_heading">
    Social Sentiments
</div>

<div class="social_sentiments_table">
    <div class="col-lg-6 mx-auto col-sm-12">
        <div class="row d-flex justify-content-center text-center border-top fw-bold">
            <div class="col-6 py-2 row_headings">{{company_sentiment_details.symbol}}</div>
            <div class="col-3 py-2 table_content" style="background-color: #E8ECEF;">Reddit</div>
            <div class="col-3 py-2 table_content" style="background-color: #E8ECEF;">Twitter</div>
        </div>
        <div class="row d-flex justify-content-center text-center border-top">
            <div class="col-6 py-2 fw-bold row_headings">Total Mentions</div>
            <div class="col-3 py-2 table_content">{{company_sentiment_details.reddit_total_mentions}}</div>
            <div class="col-3 py-2 table_content">{{company_sentiment_details.twitter_total_mentions}}</div>
        </div>
        <div class="row d-flex justify-content-center text-center border-top">
            <div class="col-6 py-2 fw-bold row_headings">Positive Mentions</div>
            <div class="col-3 py-2 table_content">{{company_sentiment_details.reddit_positive_mentions}}</div>
            <div class="col-3 py-2 table_content">{{company_sentiment_details.twitter_positive_mentions}}</div>
        </div>
        <div class="row d-flex justify-content-center text-center border-top border-bottom">
            <div class="col-6 py-2 fw-bold row_headings">Negative Mentions</div>
            <div class="col-3 py-2 table_content">{{company_sentiment_details.reddit_negative_mentions}}</div>
            <div class="col-3 py-2 table_content">{{company_sentiment_details.twitter_negative_mentions}}</div>
        </div>
    </div>
</div>